$clr-primary: #000203;
$clr-secondary: rgba(255, 255, 255);
$clr-accent: rgba(98, 87, 224);

$ff: "Poppins", sans-serif;

$fs-300: 1rem;
$fs-400: 1.125rem;
$fs-500: 2.5rem;
$fs-600: 3.8rem;

$fw-regular: 400;
$fw-bold: 700;
